{% extends "base.html" %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
    <h1 style="font-size: 100%; margin: 20px 0px 10px 70px; color: DarkGreen">Спасибо!</h1>
    <p style="font-size: 100%; margin: 20px 0px 10px 70px; color: DarkGreen">Ваш заказ принят. Ваш номер заказа:
        <strong>{{ order.id }}</strong>.</p>
    <section class="section">
      <div class="container" style="margin: 20px 0px 10px 30px;">
        <button class="button is-primary" id="submitBtn_2">Оплатить</button>
      </div>
    </section>
    <script type="text/javascript">
        fetch("/config/")
        .then((result) => { return result.json(); })
            .then((data) => {
            var stripe = Stripe(data.publicKey);
            var pk = appConfig.order_pk;
            console.log(pk);
            console.log(data.publicKey);
            document.querySelector("#submitBtn_2").addEventListener("click", () => {
                fetch(`/order/${pk}/buy`)
                    .then((result) => { return result.json(); })
                    .then((data) => {
                        return stripe.redirectToCheckout({sessionId: data.sessionId})
                            .then((res) => {
                                console.log(res);
                            });
                    });
            });
        });
    </script>
{% endblock %}